@import "../../styles/Variables.scss";

.payment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-border-color;
  margin-bottom: 3px;
  padding: 10px;
}

.payment-amounts {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.amounts {
  text-align: right;
}
