@import "../../../styles/Variables.scss";

.products-form {
  // border: 1px solid $light-border-color;
  // border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  h1 {
    margin: 0;
  }
}

.products-list {
  padding: 40px;
}

.dashboard-table {
  img {
    width: 80px;
  }
  tr {
    border-bottom: 1px solid black;
  }
}

.edit-icon {
  margin-left: 10px;
  color: $edit-btn-color;
  width: 20px;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2) rotate(10deg);
    color: $edit-btn-color-hover;
  }
}

.delete-icon {
  color: $delete-btn-color;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2) rotate(10deg);
    color: $delete-btn-color-hover;
  }
}
