$main-color: #283148;
$secondary-color: #ff5959;
$secondary-color-hover: #ff7d7d;
$secondary-pale-color: #805959;
$black-text: #000000;
$white-text: #ffffff;
$dark-grey-text: #6a6a6a;
$light-grey-text: #9c9c9c;
$delete-btn-color: #ee0808;
$delete-btn-color-hover: #ec4e4e;
$edit-btn-color: #25d366;
$edit-btn-color-hover: #7dce9b;
$light-border-color: #d7d3d3;

//Social media
$google-blue: #6b9ef7;
$linkedin-color: #0e76a8;
